
body {
    margin: 0px;
    background-color: #404040;
    color: #c0c0c0;
    font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: separate;
    border: 0;
}

a-webkit-any-link {
    text-decoration: none !important;
    color: black !important;
}

div.title_block {
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    padding-left: 3em;
    width: 100%;
    height: 100px;
}

span.title_block {
    font-size: 3em;
}

div.nav_block {
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    padding-left: 3em;
    margin-bottom: 1em;
    width: 100%;    
}

span.nav_block {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
}

span.nav_block.selected {
    background-color: #404040;
}
span.nav_block:hover:not(.selected) {
    text-decoration: underline;
    text-decoration-style: solid;
    cursor: pointer;

}


.event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #404040;
    list-style-type: none;
}

.event-item {
    display: flex;
    width: 100%;
    background-color: #292929;
    margin-bottom: 0.1em;
}

.event-key {
    flex: initial;
    width: 100px;
    color: gold;
}

.event-value {
    align-self: flex-start;
    flex: 1;
    flex-wrap: wrap;
}

.event-value * {
    flex-grow: 1;
    padding-bottom: 0.4em;
}

ul.event-container {
    padding-left: 0px;
}

li.event-entry {
    margin-bottom: 1.5em;
    list-style-type: none;
}

div.content {
        margin-left: 3em;
        margin-right: 3em;    
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    
}

.flex-left {
    width: 100%;
    justify-self: left;
}

.flex-right {
    margin-left: auto;
}

.hidden {
    display: none;
}
